.inline {
  display: inline-block;
  background-color: rgb(235, 232, 232);
  padding: 10px 30px 20px 20px;
  margin: 10px 20px 20px 10px;
  border-radius: 15px;
}

h3 {
  background-color: rgb(88, 121, 173);
  padding: 15px;
  border-radius: 15px;
  display: block;
  margin: 0 auto;
  color: white;
  text-align: center;
  width: fit-content;
}

h1 {
  color: rgb(93, 99, 104);
  margin: 30px;
}

body {
  margin: 12px;
  display: block;
  margin: 0 auto;
  text-align: center;
}

footer {
  padding: 10px 10px 20px 20px;
}
